<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- Para que detecte las anotaciones en los paquetes -->
	
	<context:component-scan base-package="com.curso.java.oo.ejercicio01oo.clases" />
	<context:component-scan	base-package="ejercicio01dao" />
	<context:component-scan	base-package="operacionesdao" />
	<context:component-scan	base-package="ejercicio01negocio" />
	<context:component-scan base-package="com.curso.java.web.config" /> 
	<context:component-scan	base-package="com.curso.java.web.controllers" />
	
	


	<!-- Para que detecte además anotaciones de Spring MVC -->
	<mvc:annotation-driven />


	<bean id="collectionArrayList" class="java.util.ArrayList">
		<constructor-arg>
			<value>4</value>
		</constructor-arg>
	</bean>

	<bean id="collectionHashMap" class="java.util.HashMap">
		<constructor-arg>
			<value>4</value>
		</constructor-arg>
	</bean>

	<bean id="collectionHashSet" class="java.util.HashSet">
		<constructor-arg>
			<value>4</value>
		</constructor-arg>
	</bean>


	<bean id="viewResolverJSP"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/vistas/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
